[% @base_graph%]
<html>
<body>
  <h3>Emissions de polluants atmophériques (en t)</h3>
  <div id="emission_polluant_atmospherique"></div>
  <span class="note">COVNM (composés organiques volatils non méthaniques) - NH3 (amoniac) - NOX (oxyde d'azote)
    PM10 (particules < 10 &micro;m) - PM2,5 (particules < 2,5 &micro;m) - SO2 (dioxyde de soufre)
  </span>
  <br>
  <span class="source">Source : Biomasse Normandie</span>
</body>
</html>

<!-- graphique -->
<script>
var chart = c3.generate({
  bindto: '#emission_polluant_atmospherique',
    size: {
        height: 300,
        // width: 400
    }, 
    padding:{
      bottom:0,
      top:10,
      left:80,
      right:80
    },
    data: {
        columns: [
            ["COVNM",   [% "COVNM_1" %],  [% "COVNM_2" %],  [% "COVNM_3" %],  [% "COVNM_4" %]],
            ["NH3",   [% "NH3_1" %],  [% "NH3_2" %],  [% "NH3_3" %],  [% "NH3_4" %]],
            ["NOX",  [% "NOX_1" %],  [% "NOX_2" %],  [% "NOX_3" %],  [% "NOX_4" %]],
            ["PM10",   [% "PM10_1" %],  [% "PM10_2" %],  [% "PM10_3" %],  [% "PM10_4" %]],
            ["PM2,5",   [% "PM25_1" %],  [% "PM25_2" %],  [% "PM25_3" %],  [% "PM25_4" %]],
            ["SO2",   [% "SO2_1" %],  [% "SO2_2" %],  [% "SO2_3" %],  [% "SO2_4" %]]
        ],
        order: null,
        type:'bar',
        groups: [
              [
              'SO2',
              'PM2,5',
              'PM10', 
              'NOX',
              'NH3',
              'COVNM'
              ]
          ]
    },
    bar: {
        width: {
            ratio: 0.3 // this makes bar width 50% of length between ticks
        }

        // or
        //width: 100 // this makes bar width 100px
    },
    // legend: {
    //     position: 'right'
    // },
    color: {pattern: [
      '#87CEEB', //bleu
      '#FF7F50', //corail
      '#FFD700', //jaune
      '#6B8E23', //vert
      '#8B0000', //rouge
      '#20B2AA' // turquoise
       ]},
    grid: {
      y: {
          show: true
        }
    },
    axis: {
      x: {
          type: 'category',
          categories: ['2009', '2011', '2013', '2015'],
      }
    }
});
</script>