[% @base_graph%]
<html>
<body>
  <h3>Production d'énergie renouvelable (EnR) en GWh</h3>
  <div id="production_energie_renouvelable"></div>
  <span class="note">Note : Données secrétsées pour Bois énergie</span><br>
  <span class="source">Source : Biomasse Normandie</span>
</body>
</html>

<!-- graphique -->
<script>
var chart = c3.generate({
  bindto: '#production_energie_renouvelable',
    size: {
        height: 300,
        // width: 400
    },
    padding:{
      bottom:20,
      top:10,
      left:80,
      right:80
    },
  data: {
      columns: [
          ["Solaire",   [% "production_enr_solaire_1" %],  [% "production_enr_solaire_2" %],  [% "production_enr_solaire_3" %],  [% "production_enr_solaire_4" %]],
          ["Hydraulique",   0,  null,  null,  [% if("production_enr_hydraulique_4"='s','null',"production_enr_hydraulique_4") %]],
          ["Bois-énergie collectif et industriel",  [% "production_enr_bois_coll_1" %],  [% "production_enr_bois_coll_2" %],  [% "production_enr_bois_coll_3" %],  [% "production_enr_bois_coll_4" %]],
          ["Bois-énergie des ménages",   [% "production_enr_bois_1" %],  [% "production_enr_bois_2" %],  [% "production_enr_bois_3" %],  [% "production_enr_bois_4" %]],
          ["Biogaz",   [% "production_enr_biogaz_1" %],  [% "production_enr_biogaz_2" %],  [% "production_enr_biogaz_3" %],  [% "production_enr_biogaz_4" %]],
        ]
      , order:null
      , type: 'bar'
      , groups: [
            ['Hydraulique',
            'Bois-énergie collectif et industriel', 
            'Bois-énergie des ménages',
            'Biogaz',
            'Solaire'
            ]
        ]
  },
  bar: {
      width: {
          ratio: 0.3 // this makes bar width 50% of length between ticks
      }
      // or
      //width: 100 // this makes bar width 100px
  },
  color: {pattern: ['#ffff00','009999', '#994c00', '#ff8000', '#66cc00' ]}
  ,
      grid: {
      y: {
          show: true
        }
  },
   axis: {
      x: {
          type: 'category',
          categories: ['2009', '2011', '2013', '2015'],
      },
      // y:{
      //   tick: {
      //     count : 4,
      //     format: function (d) { return Math.round(100*d) + '%' ; }
      //       }
      // }
  }
});
</script>