[% @base_graph%]
<html>
  <body>
    <h3>Répartition des emplois par secteur en 2013</h3>
    <div id="emploi_secteur"></div>
    <div class="note">*dont l'enseignement, la santé humaine et l'action sociale </div>
    <div class="note">**industrie manufacturière, industries extractives et autres </div>
    <div class="source">Source : Insee, RP 2013</div>
  </body>
</html>

<!-- graphique -->
<script>
  var chart = c3.generate({
    bindto: '#emploi_secteur',

    size: {
      height: 280,
    },
    padding:{
      bottom:30,
      top:10,
      left:0,
      right:0
    },
    data: {
        rows: [
            ['Administration publique*',
            'Agriculture, sylviculture et pêche',
            'Commerce, transports et services divers', 
            'Construction', 
            'Industrie**'],
            [ [% "secteur1" %],
              [% "secteur2" %],
              [% "secteur3" %],
              [% "secteur4" %],
              [% "secteur5" %]],
        ],
        type: 'donut'
    },
    donut : {
      label: {
        threshold: 0.05
      },
      width:42,
    },
    legend: {
      position: 'bottom'
    }
});
</script>