[% @base %]
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
	<div class="panel-group">
		<div class="panel panel-theme3">
			<div class="panel-body">
				<h3>Quelques indicateurs</h3>
				<div>
				En 2013, on comptabilise <span id="theme3">[%  format_number("emploi",0) %]</span> emplois
				</div>

				<div>
				Indicateur de concentration d'emploi<sup>1</sup> : <span id="theme3">[% format_number("indicateur_concentration",1) %] </span>
				</div>

				<div>Population active en 2013 : 
					<span id="theme3">[% format_number("taux_pop_active"*100,1) || ' %' %]</span>
				</div>
				<div class="note"><sup>1</sup>L'indicateur de concentration d'emploi est égal au nombre d'emplois dans la zone pour 100 actifs ayant un emploi résidant dans la zone</div>
				<div class="source">Source : Insee, RP2013</div>
				<div class="lspacer"></div>
				<div>
				Nombre d'entreprises (hors agriculture) : 
					<span id="theme3">[% format_number(total_entreprise_hors_agriculture,0) %]</span>
				</div>
				<div class="sspacer"></div>
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>PME*</th>
				        <th>ETI**</th>
				        <th>GE**</th>
				        <th>NR***</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td> [% format_number(entreprise_pme,1) || '%' %]
 						</td>
				        <td> [% format_number(entreprise_eti,1) || '%' %]
 						</td>
				        <td> [% format_number(entreprise_ge,1) || '%' %]
 						</td>
				        <td> [% format_number(entreprise_nr,1) || '%' %]
 						</td>
				      </tr>
				    </tbody>
  				</table>

	  			<div class="note">
	  			*Petite ou Moyenne Entreprise **Entreprise de Taille Intermédiaire ***Grande Entreprise ****Non renseigné
	  			</div>
	  			<div class="source">
	  			Source : Insee, Base sirène (janv. 2017)
	  			</div>
	  		</div>
	  	</div>
	</div>
</div>
<div class="container-fluid">
	<table class="table table-striped">
	<colgroup>
            <col class="col-xs-5">
            <col class="col-xs-4">
            <col class="col-xs-2">
            <col class="col-xs-1">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th>[% nom_epci %]</th>
        <th>Eure</th>
        <th>Normandie</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Taux de chômage</td>
        <td>[% format_number("taux_chomage"*100,1) || ' %' %]</td> 
        <td>[% format_number(attribute(get_feature('3_economie', 'siren_territoire', '27'),'taux_chomage')*100,1) || ' %' %]</td>
        <td>[% format_number(attribute(get_feature('3_economie', 'siren_territoire', '0'),'taux_chomage')*100,1) || ' %' %]</td>
      </tr>
      <tr>
        <td>Part des ménages fiscaux imposés</td>
        <td> [% format_number("part_foyer_impo",1) || ' %' %]</td>
        <td>[% format_number(attribute(get_feature('3_economie', 'siren_territoire', '27'),'part_foyer_impo'),1) || ' %' %]</td>
        <td>[% format_number(attribute(get_feature('3_economie', 'siren_territoire', '0'),'part_foyer_impo'),1) || ' %' %]</td>
      </tr>
    </tbody>
	</table>
  	<div class="source">Source : Insee, RP 2013</div>
</div>

</body>
</html>
