<!DOCTYPE html>
<html lang="en">
<head>
  <title>Présentation de l'EPCI</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/bs/css/bootstrap.css">
</head>
<script src="../styles/bs/js/jquery.js"></script> 
    <script> 
    $(function(){
      $("#custom").load("../styles/bs/css/custom.css"); 
    });
    </script> 
<style id="custom">
/*load with jquery the content of custom.css because add an other stylesheets link in the
header does not work
<link rel="stylesheet" href="../styles/bs/css/bootstrap.css">
<link rel="stylesheet" href="../styles/bs/css/custom.css">
*/
</style>
  <body>
    <div class="container-fluid"> 
      <h2 class="theme1">Paysage, biodiversité, eau</h1>
      <div class="col-sm-6">
       <div class="panel panel-info">
          <div class="panel-heading"><strong>Atlas des paysages</strong></div>
            <div class="panel-body" id="carte">
               <img class="img-responsive img-rounded" src="[% @project_folder || '/' || 'test.jpg' %]" alt="Atlas des paysages"> 
            </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="panel panel-info">
          <div class="panel-heading"><strong>SRCE</strong></div>
            <div class="panel-body" id="carte">
               <img class="img-responsive img-rounded" src="[% @project_folder || '/' || 'test.jpg' %]" alt="SRCE"> 
            </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
       <div class="panel panel-info">
          <div class="panel-heading"><strong>Patrimoine</strong></div>
            <div class="panel-body" id="carte">
               <img class="img-responsive img-rounded" src="[% @project_folder || '/' || 'test.jpg' %]" alt="Patrimoine"> 
            </div>
        </div>
      </div>
    </div>
  </body>
</html>