<!DOCTYPE html>
<html lang="en">
<head>
  <title>Présentation de l'EPCI</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/bs/css/bootstrap.css">
</head>
<script src="../styles/bs/js/jquery.js"></script> 
    <script> 
    $(function(){
      $("#custom").load("../styles/bs/css/custom.css"); 
    });
    </script> 
<style id="custom">
/*load with jquery the content of custom.css because double link in the
header does not work
<link rel="stylesheet" href="../styles/bs/css/bootstrap.css">
<link rel="stylesheet" href="../styles/bs/css/custom.css">
*/
</style>
<body>
<div class="container-fluid"> 
  <h1 class="theme1">présentation de l'EPCI</h1>
  Ceci est mon blablab
  <h1 class="theme1">démographie</h1>
  <h1 class="theme1">économie</h1>
  <h1 class="theme1">habitat et construction</h1>
  <h1 class="theme1">urbanisme</h1>
  <h1 class="theme1">déplacement : transport et mobilité</h1>
  <h1 class="theme1">agriculture et forêt</h1>
  <h1 class="theme1">paysage, biodiversité, eau</h1>
</body>
</html>