[% @base %]
	<body>
		<div class="container">
			<div class="panel-group">
				<div class="panel panel-theme1">
					<div class="panel-body">
							<div class="col-xs-12" style="text-align: justify;">Suite à la réforme territoriale qui a modifié les limites des intercommunalités, les territoires du département ont, pour certains, vu leur identité évoluer. Afin de permettre de mieux identifier les enjeux des nouveaux territoires, leurs principales caractéristiques ont été mises en évidence au sein de fiches « Connaissance des Territoires ».
							<div class="sspacer"></div>
							Ces fiches, qui ont été élaborées sur la base de données de l’INSEE et de l’État (DDTM27, DREAL, DRAAF), doivent permettre d’avoir une vision globale des nouveaux EPCI pour une connaissance partagée du territoire.</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

